$color-primary: #ff8500;
$color-primary-light: #ffac33;
$color-primary-dark: #b36700;
$color-2nd: #5c677d;
$color-2nd-light: #7a8599;
$color-2nd-dark: #3f4a5b;
$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;