// COLOURS
$color-card-orange: #ffb900;
$color-card-2nd-orange: #F5853F;
$color-card-green: #52796f;
$color-card-2nd-green: #354f52;

$color-primary: #f3722c;
$color-primary-light: #f9844a;
$color-primary-dark: #b36700;
$color-2nd: #73648a;

$color-2nd-light: #7a8599;
$color-2nd-dark: #3f4a5b;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #bcb5b5;

$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT SIZES
$default-font-size: 1.6rem;
