html{
    box-sizing: border-box;
}
.btn {
  cursor: pointer;
  width: 150px;
  height: 90px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #fb01a8 0%, #5d23bb 100%);
  box-shadow: 0 5px 15px rgba(78, 13, 163, 0.3);
  outline: none;
  position: absolute;
  border-radius: 2rem;
  box-shadow: inset;
}

body {
    margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  display: flex;
}
