*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1; } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1; } }

body {
  font-family: lato;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 2.5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    margin-bottom: 3rem; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #73648a, #f3722c);
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-x-small {
  margin: 0 1rem; }

.btn:link, .btn:visited {
  font-size: 1.6rem;
  margin-top: 3rem;
  padding: 1.3rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0; }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  margin-top: 1rem;
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInButton 0.4s ease-out 0.7s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #f3722c;
  border-bottom: 1px solid #f3722c;
  padding: 4px 5px;
  text-decoration: none;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #f3722c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.16);
  transform: translateY(-2px); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(115, 100, 138, 0.501), rgba(243, 114, 44, 0.5)), url(../img/TaintedGrail_03.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 4rem; }
  .header__logo {
    height: 8rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.composition {
  position: relative; }
  .composition__photo {
    width: 65%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -4rem; }
    .composition__photo--p2 {
      right: 0rem;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.2rem solid #f3722c;
      transform: scale(1.05) translateY(-0.7rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem 1.5rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  height: 45vh; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-image: linear-gradient(to right, #f9844a, #b36700);
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.card {
  max-height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    color: #777;
    font-size: 2rem;
    height: 45rem;
    width: 100%;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #73648a 10%, #7a8599 100%); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 22rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #73648a, #3f4a5b), url(../../img/card1.webp); }
  .card__heading {
    position: absolute;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    left: 2rem;
    top: 16rem;
    color: #fff; }
  .card__heading--span {
    padding: 0.8rem 2rem; }
    .card__heading--span--1 {
      background-image: linear-gradient(to right, rgba(115, 100, 138, 0.7), rgba(63, 74, 91, 0.2)); }
  .card__details {
    font-size: 1.6rem;
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        padding: .5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #bcb5b5; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% -  6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -24vh; }

.section-features {
  padding: 20rem 0;
  margin-top: -13rem;
  background-image: linear-gradient(to right, rgba(115, 100, 138, 0.7), rgba(243, 114, 44, 0.5)), url(../../img/knight.jpeg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 20rem 0 50rem 0;
  margin-top: -9rem; }
